:root {
    /* COLORS */
    --highligh-color: #460D62;
    --back-color1: #8A716A;
    --back-color2: #C2B8B2;
    --alternative-color: #0C0F0A;

    /* FONTS */
    --font-top: "Oswald", sans-serif; /* Semibold 600 */
    --font-base: "Roboto", sans-serif; /* Light 300, Regular 400, Medium 500 */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--back-color1);
    width: 90%;
    margin: auto;
}

#top {
    background-color: var(--back-color2);
    margin-top: .4em;
    padding: .4em .2em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#streamName {
    text-decoration: none;
    color: var(--highligh-color);
    font-family: var(--font-top);
    font-size: 2.4rem;
}

#top ul {
    list-style-type: none;
}

#top ul li {
    display: inline-block;
}

#top ul li a {
    display: block;
    text-decoration: none;
    font-family: var(--font-base);
    font-weight: 500;
    color: var(--highligh-color);
    margin: 1em .4em;
    padding: .4em;
    border-bottom: transparent solid 3px;
    font-size: 1.1em;
}

#top ul li a:hover {
    border-bottom: var(--highligh-color) 3px solid;
}

.hide {
    display: none;
}

#titlePlans {
    text-align: center;
    font-family: var(--font-base);
    font-size: 3.4rem;
    color: var(--back-color2);
    margin: 1.8rem 0;
}

#boxPlans {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.plans {
    box-sizing: border-box;
    padding: 1em;
    background-color: var(--back-color2);
    border-radius: 6px;
    /*box-shadow: 0px 0px 1px 1px;*/
    box-shadow: 5px 5px 5px -5px;
    border: 2px solid var(--alternative-color);
    display: flex;
    flex-direction: column;
}

.plansNames {
    font-family: var(--font-top);
    color: var(--highligh-color);
    border-bottom: 3px solid var(--highligh-color);
}

.plansPrices {
    font-family: var(--font-base);
    color: var(--alternative-color);
    margin-bottom: 1em;
}

.plansPrices span {
    font-size: .8em;
}

.plansBenefits {
    margin-left: 18px;
    color: var(--alternative-color);
    font-family: var(--font-base);
    font-weight: 400;
    flex-grow: 1;
    font-size: 1.1em;
    margin-bottom: 2em;
}

.plansBenefits li {
    line-height: 1.3em;
}

.plansBenefits li::marker {
    color: var(--highligh-color);
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: var(--highligh-color);
    color: var(--back-color2);
    font-family: var(--font-base);
    width: 100%;
    padding: .4em 0;
    text-align: center;
    border-radius: 6px;
    font-size: 1.1em;
}

.btn:hover {
    background-color: var(--back-color1);
    color: var(--highligh-color);
}

.footer {
    display: inline-block;
    text-align: center;
}
