@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --color01: #BFC8AD;
    --color02: #242325;
    --color-transparent01: hsla(270, 3%, 14%, 0.747);
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-image: url(img/backgroun-image.jpg);
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.topMenu {
    margin-top: 1em;
}

.listMenu {
    padding: .7rem 0;
}

.listMenu a, .portfolio-pages div a {
    text-decoration: none;
    color: var(--color02);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*padding: .6rem .9rem;*/
    padding: .2rem;
    margin: 0 .8rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color02);
    letter-spacing: 2px;
}

.listMenu a:hover {
    background-color: var(--color-transparent01);
    color: var(--color01);
    padding: .4rem;
}

.title-page {
    background-color: var(--color02);
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-page h1 {
    color: var(--color01);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
}

.main-page {
    width: 90%;
    margin: auto;
}

.about {
 /* vazio */
}


.about h2, .skills h2, .portfolio h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4.6em;
    padding-bottom: .4em;
}

.about h4, .portfolio h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding-bottom: 2.2em;
}

.text-about {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 2.2em;
}

.photo-article {
    display: flex;
    justify-content: space-between;
}

.my-photo h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
}

.my-text {
    width: 50%;
}

.skills {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.skills-icon {
    display: inline-block;
    padding: .6rem .9rem;
    width: 190px;
}

.skills-icon img {
    width: 50px;
    height: 50px;
}

.skills-icon p {
    font-weight: 500;
}

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.portfolio a {
    text-decoration: none;
}

.portfolio-pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-pages div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.portfolio-pages div a {
    text-align: center;
}

.portfolio-pages div a:hover {
    border-bottom: 2px solid var(--color02);
    color: var(--color01);
}

.portfolio div img {
    width: 230px;
    margin: .4em auto;
}

.obs-info {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
}