* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: grid;
    grid-template-columns: 170px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    gap: .6em;
} 

/* Menu vertical */
.verticalMenu { 
    background-color: white;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    position: sticky;
    top: 0;
    max-height: 100vh;

    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verticalMenu_list {
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

svg {
    height: 26px;
    width: 26px;
}

.horizontalMenu {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    background-color: white;

    /* FLEX */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.horizontalMenu_L {
    display: inline-block;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    gap: .6em;
}

.summary {
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.porcentagem {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
}

.produtos {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.valores {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}
