:root {
    --small-space: .4em;
    --medium-space: 1.5em;
    --font-size-small: 1.1rem;
    --font-size-medium: 1.3rem;
    --color1: #F3F3F3;
    --color2: #747C92; 
    --color3: #231F20;
    --color4: #68B684;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 170px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    font-family: "Reddit Mono", monospace;
} 

/* Menu vertical */
.verticalMenu { 
    background-color: var(--color1);
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    position: sticky;
    top: 0;
    max-height: 100vh;

    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding: var(--medium-space) 0;
    margin-left: var(--small-space);
    display: inline-block;
    font-size: var(--medium-space);
    transition: .1s;
}

.title:hover {
    font-weight: 700;
}

.verticalMenu_list {
    border-bottom: 1px solid var(--color2);
}

a {
    text-decoration: none;
    font-weight: 400;
    display: block;
    color: var(--color2);
    font-weight: 600;
}

a:hover {
    font-weight: 900;
    color: var(--color3);
}

ul li {
    list-style-type: none;
    margin: var(--medium-space) var(--small-space);
}

svg {
    height: 24px;
    width: 24px;
    vertical-align: bottom;
}

.horizontalMenu {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    background-color: var(--color1);

    /* FLEX */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.horizontalMenu_L {
    display: inline-block;
}

.user {
    display: flex;
    align-items: center;
    padding: var(--small-space);
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--color2);
    margin-right: var(--small-space);
}

.userT {
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: 700;
    color: var(--color3);
}

.userJob {
    font-weight: 400;
    color: var(--color2);
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    /* GRID */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    gap: .6em;
    padding: 1em;
}

.summary {
    background-color: var(--color1);
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--small-space);
    padding-right: var(--small-space);
    padding: var(--small-space);
}

.info {
    font-weight: 700;
    font-size: var(--font-size-small);
    color: var(--color3);
}

.numbers {
    color: var(--color4);
    font-weight: 700;
    font-size: var(--font-size-medium);
}

.summaryDivision {
    width: 2px;
    background-color: var(--color2);
    align-self: stretch;
}

.btn {
    padding: .9em;
    border-radius: 4px;
    background-color: var(--color4);
    color: var(--color1);
}

.porcentagem {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    width: fit-content;
    margin: auto;
}

.produtos {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.valores {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}
